
.demo-card-wide.mdl-card {


  margin-top: 10px;
  margin-bottom: 10px;

}
.demo-card-wide > .mdl-card__title {
  color: #fff;

  // background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;

}
